<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>http://example-url.com:8080/</string>
	<key>refresh</key>
	<integer>10</integer>
	<key>map</key>
	<string>demo</string>
	<key>last_BASE_URL</key>
	<array>
		<string>http://example-url.com:8080/</string>
	</array>
	<key>last_map</key>
	<array>
		<string>demo</string>
	</array>
	<key>maxConnections</key>
	<integer>2</integer>
	<key>Lite</key>
	<false/>
</dict>
</plist>
